body {
}

h1 {
    padding-left: 30px;
}
#content {
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.text {
    width: 50px;
    float: left;
    margin-right: 10px;
}

.button {
    position: relative;
    margin-left: 135px;
    width: 50px;
    font-size: 18pt;
}