body {
    background-color: #FFFFF0;
}

#city_list {
    float: left;
    height: 30px;
    width: 80px;
    margin-left: 20px;
}

#submit {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}

img.no1 {
    width: 100%;
    height: 220px;
    text-align: center;
    margin-top: 20px;
}

img.img_2, img.img_3, img.img_4, img.img_5 {
    width: 280px;
    height: 280px;
}

.image {
    width: 50%;
    float: left;
    text-align: center;
}

.img_5 {
        filter: url(blur.svg#blur);  
        -webkit-filter: blur(5px); /* Chrome, Opera */
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);    
            filter: blur(5px); 
}

.more {
    position: 
}


img.no6 {
    margin-top: 20px;
    width: 100%;
}


div.div-1 {
    float:left;
    margin-left: 5%;
    width: 24%;
}

div.div-2 {
    float: left;
    margin-left: 80px;
    width: 60%;
}

.p-1{
    background-color: #FFA07A;
    text-align: center;
    font-size: 20pt;
    font-family: "Comic Sans MS";
    letter-spacing: 0.2em;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}

.p-2, .p-3 {
    font-size: 12pt;
    font-family: "Century Gothic", sans-serif;
}

.name {
    width: 50%;
    float: left;
    font-family: Papyrus;
    font-size: 16pt;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#button_div {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

#login {
    width: 200px;
    height: 50px;
    font-size: 20pt;
    text-align: center;
    outline: none;
    background: #222;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    cursor: pointer
}

.image:hover {
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    -transform:scale(1.1,1.1);
}