<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <link rel="stylesheet" type="text/css" media="all" href="../../css/stsm.css" th:href="@{/css/stsm.css}"/> -->
  </head>

  <body>

  <p>名称: <span th:text="${name}">水煮鱼</span>.</p>
  <p>简介: <span th:text="${summary}">水煮鱼又称江水煮江鱼，是一道居住于巴蜀地区人们发明的
    一道菜，最早流行于四川地区（包括现重庆市）。看似原始的做法，实际做工考究--选新鲜生猛活鱼，
    又充分发挥辣椒御寒、益气养血功效，烹调出来的肉质一点也不会变韧，口感滑嫩，油而不腻。
    既去除了鱼的腥味，又保持了鱼的鲜嫩。满目的辣椒红亮养眼，辣而不燥，麻而不苦。“麻上头，辣过瘾”，
    让水煮鱼在全国流行得一塌糊涂。</span>.</p>
  <p>单价: <span th:text="${price}">30元</span>.</p>
  <p>折扣活动: <span th:text="${discount}">满十减一</span>.</p>
  </body>
</html>
